<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Name</th>
		<td mat-cell *matCellDef="let element"> {{ element.name }} </td>
	</ng-container>

	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef>Status</th>
		<td mat-cell *matCellDef="let element">

			<mat-chip-list>
				<mat-chip color="warn" *ngIf="!element.isEnabled" selected>Disabled</mat-chip>
				<mat-chip color="primary" *ngIf="element.isRunning" selected>Running</mat-chip>
				<mat-chip color="accent" *ngIf="element.isEnabled && !element.isRunning" selected>Enabled</mat-chip>
				
				<mat-chip color="warn" *ngIf="element.failures > 0" selected>Failures: {{ element.failures }} </mat-chip>
				<mat-chip *ngIf="element.failures == 0">Failures: 0</mat-chip>
			</mat-chip-list>
		</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>Actions</th>
		<td mat-cell *matCellDef="let element">
			<button mat-flat-button color="primary" *ngIf="!element.isRunning && element.isEnabled"
				(click)="runJob($event, element.id)">Run</button>
			<button mat-flat-button (click)="editJob($event, element)" color="primary">Edit</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="job-detail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
			<div class="detail-container" [@detailExpand]="element == jobDetail ? 'expanded' : 'collapsed'">
				<div class="detail-content">
					<app-logs [job]="element"></app-logs>
				</div>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columns"></tr>

	<tr mat-row *matRowDef="let element; columns: columns;" class="overview-row"
		[class.example-expanded-row]="jobDetail === element"
		(click)="jobDetail = jobDetail === element ? null : element"> </tr>

	<tr mat-row *matRowDef="let row; columns: ['job-detail']" class="detail-row"></tr>

</table>