<table mat-table [dataSource]="dataSource">
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Name</th>
		<td mat-cell *matCellDef="let job">
			<span (click)="viewDetails(job)">
				<div *ngIf="!job.isEnabled && job.failures == 5" class="dot error" matTooltip="Error"></div>
				<div *ngIf="!job.isEnabled && job.failures < 5" class="dot disabled" matTooltip="Disabled"></div>
				<div *ngIf="job.isRunning" class="dot running" matTooltip="Running"></div>
				<div *ngIf="job.isEnabled && !job.isRunning" class="dot enabled" matTooltip="Not Running"></div>
			</span>
			{{ job.name }}
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>Actions</th>
		<td mat-cell *matCellDef="let element">
			<button mat-icon-button [matMenuTriggerFor]="jobActions">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #jobActions>
				<mat-menu-item><button mat-menu-item (click)="runJob(element.id)">
						<mat-icon>play_arrow</mat-icon>Start
					</button></mat-menu-item>
				<mat-menu-item><button mat-menu-item (click)="viewDetails(element)">
						<mat-icon>info</mat-icon>Details
					</button></mat-menu-item>
				<!-- <mat-menu-item><button mat-menu-item (click)="editJob(element)">
						<mat-icon>settings</mat-icon>Settings
					</button></mat-menu-item> -->
			</mat-menu>
			<!-- <button mat-flat-button color="primary" *ngIf="!element.isRunning && element.isEnabled"
				(click)="runJob($event, element.id)">Run</button> -->
		</td>
	</ng-container>



	<tr mat-header-row *matHeaderRowDef="columns"></tr>

	<tr mat-row *matRowDef="let element; columns: columns;"></tr>


</table>