<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Name</th>
		<td mat-cell *matCellDef="let element"> {{ element }} </td>
	</ng-container>
	
	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>Actions</th>
		<td mat-cell *matCellDef="let element"> 
			<button mat-flat-button (click)="editAutomationOptions()" color="primary">Edit</button>
		 </td>
	</ng-container>

	<ng-container matColumnDef="logs">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
			<div class="detail-container" [@detailExpand]="true ? 'expanded' : 'collapsed'">
				<div class="detail-content">
					<app-logs></app-logs>
				</div>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columns"></tr>

	<tr mat-row *matRowDef="let element; columns: columns;" class="overview-row"
		[class.example-expanded-row]="jobDetail === element"
		(click)="jobDetail = jobDetail === element ? null : element"> </tr>

	<tr mat-row *matRowDef="let row; columns: ['logs']" class="detail-row"></tr>
</table>