<div class="form">
	<mat-form-field appearance="fill">
		<mat-label>Base Interval (seconds)</mat-label>
		<input type="number" matInput [(ngModel)]="automationOptions.baseInterval">
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Maximum Failures</mat-label>
		<input type="number" matInput [(ngModel)]="automationOptions.maxFailures">
	</mat-form-field>

	<div class="flex-spread">
		<button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>Save</button>
		<button mat-button color="warn" (click)="delete()">Remove</button>
	</div>
</div>