@import '~@angular/material/theming';

// taken from https://github.com/angular/components/blob/master/src/material/core/theming/prebuilt/purple-green.scss

// Define a theme.
$my-custom-primary: mat-palette($mat-green, 600, 400, 800);
$my-custom-accent:  mat-palette($mat-indigo, 400, 200, 600);

$green-blue-dark-theme: mat-dark-theme((
  color: (
    primary: $my-custom-primary,
    accent: $my-custom-accent
  )
));