<h2 mat-dialog-title>Change Password</h2>
<div mat-dialog-content>
	<mat-form-field appearance="fill">
		<mat-label>Current Password</mat-label>
		<input type="password" matInput [(ngModel)]="passwordChange.currentPassword">
	  </mat-form-field>
	  <mat-form-field appearance="fill">
		<mat-label>New Password</mat-label>
		<input type="password" matInput [(ngModel)]="passwordChange.newPassword">
	  </mat-form-field>
	  <mat-form-field appearance="fill">
		<mat-label>Verify Password</mat-label>
		<input type="password" matInput [(ngModel)]="passwordChange.verifyPassword">
	  </mat-form-field>
</div>

<div mat-dialog-actions>
	<button mat-flat-button color="primary" cdkFocusInitial (click)="save()">OK</button>
	<button mat-flat-button (click)="cancel()">Cancel</button>
</div>